img{
    height:300px;
    width : 500px;
    padding-left: 9cm;
}
table{
    background:linear-gradient(110deg,#e2ae65,#294725);
    align-content: center;
    border : 1px solid black;
    border-spacing: 15mm;
    border-radius: 9mm;
    box-shadow: chartreuse;
    width: 1500px;
   

}


td{
    
    padding : 3mm;
    font-size: 50px;
    font-style: oblique;
    font-weight: 500;
    
}
th{
    border:rgb(27, 16, 2);
    border-style: ridge;
    font-size: 40px;
    font-style: oblique;
}
h1{
    font-size: 45px;
    font-family: 'Arial Narrow Bold';
    position : center;
    font-weight: 500;
    padding-left: 18cm;


}
.center {
    margin-left: auto;
    margin-right: auto;
  }
body{
        background: linear-gradient(165deg,#294725,#4b0b4b,#294725);
}
