body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg,#71b7e6,#9b59b6);

}
.regf{
    height: 80vh;
    width: 50%;
    background: rgba(0, 0,0, 0.6);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    
}

button{
     color :red;
}
h1{
    padding-left: 3cm;
    align-self: center;
    position: center;
}
img{
     height : 200px;
     width: 200px;
}
marquee{
    scroll-behavior: smooth;
    scroll-padding: 3cm;
}

form{
    border:dotted;
    border-style: groove;
    padding-left: 5cm;
}

