body{
        padding: 1cm;
        border-color: olive;
        background-color: olive;

}
form{
    position: center;
    background-image: url("https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    padding-left: 1cm;
    border-style: dotted;
    border-spacing: 5cm;
    color: red;
}
button{
     color :red;
}
h1{
    padding-left: 3cm;
    align-self: center;
    position: center;
}
img{
     height : 200px;
     width: 200px;
}

.img1{
    height: 500px;
    width: 500px;
    background: url(https://i.pinimg.com/originals/5d/ec/d1/5decd1fb777f2014a40906a8b02d5821.jpg) no-repeat;
    background-size: contain;
}
.quote{
    height: 10vh;
    width: 85%;
    
    position: absolute;
    top: 70%;
}
